[submodule "desktop/novagram-desktop"]
	path = desktop/novagram-desktop
	url = https://github.com/j46871417-ui/novagram-desktop.git
	branch = feature/smart-connection-bypass
[submodule "android/novagram-android"]
	path = android/novagram-android
	url = https://github.com/confeden/novagram-android.git
	branch = novagram/v12.9.2
